<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link href="../base.css" type="text/css" rel="stylesheet" />
    <link href="style.css" type="text/css" rel="stylesheet" />
    <script src="render.js" type="module" defer></script>
    <title>StickyNote - Settings</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <h2>Settings</h2>
    <div class="settings">
      <div class="settings-item">
        <label for="is-pinned"
          >Start notes always pinned on top of every other window:</label
        >
        <select id="is-pinned">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="settings-item">
        <label for="max-notes">Max number of notes on screen:</label>
        <select id="max-notes">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <div class="buttons">
      <div class="btn" id="btn-save">Save</div>
      <div class="btn" id="btn-close">Close</div>
    </div>
  </body>
</html>
