:root {
  --primary: #29b6f6;
  --secondary: #00838f;
  --background: #ecf0f1;
  --onPrimary: #ecf0f1;
  --onSecondary: #ecf0f1;
  --onBackground: #000000;
  --danger: #e74c3c;
  --warning: #f39c12;
  --ok: #2ecc71;
  --onDanger: #ecf0f1;
  --onWarning: #ecf0f1;
  --onOk: #ecf0f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ec407a;
    --secondary: #ba68c8;
    --background: #303030;
    --onPrimary: #ffffff;
    --onSecondary: #ffffff;
    --onBackground: #ffffff;
    --danger: #c0392b;
    --warning: #e67e22;
    --ok: #27ae60;
    --onDanger: #ffffff;
    --onWarning: #ffffff;
    --onOk: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #29b6f6;
    --secondary: #00838f;
    --background: #ecf0f1;
    --onPrimary: #ecf0f1;
    --onSecondary: #ecf0f1;
    --onBackground: #000000;
    --danger: #e74c3c;
    --warning: #f39c12;
    --ok: #2ecc71;
    --onDanger: #ecf0f1;
    --onWarning: #ecf0f1;
    --onOk: #ecf0f1;
  }
}
