body {
	justify-content: space-between;
	overflow: none;
}

.textarea {
	width: auto;
	height: 100%;
	border: none;
	outline: none;
	resize: none;
	margin: 0.2em;
	background: transparent;
	overflow-y: auto;
}
